@model TrashTalkDashboard.Models.TrashCan

@{
    ViewData["Title"] = "Create";
}

<h2>Create new device</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Lat</label>
            <div class="col-md-10">
                <input asp-for="Lat" id="latitude" class="form-control" />
                <span asp-validation-for="Lat" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Long</label>
            <div class="col-md-10">
                <input asp-for="Long" id="longitude" class="form-control" />
                <span asp-validation-for="Long" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default btnAddDevice">Add device</a>
            </div>
        </div>
        <div id="deviceIdWrapper" hidden>
            <strong>Here's your device ID, you need to register it on the device for it to work on our system:</strong>
            <div id="deviceId"></div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
